.checked {
  color: orange;
}

.ratingContainer{
  margin-top: -19px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

::ng-deep .mat-select-content{
  width:100px !important;
  font-size: 10px !important;   
}

::ng-deep .mat-form-field{
  width:100px !important;
  font-size: 10px !important;   
}