:host {
  display: block;
}

.item-template {
  width: 280px;
  height:370px;
  border-radius: 1.5em;
  background-color: rgb(255, 244, 231);
  padding: 8px;
  margin: 8px;
  float:left;
  Z-index:1;
}

.header {
  display:flex;
}

.address {
  font-style: italic;
  font-size: x-small;
  font-weight: bold;
  margin-top: 1px;
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: -1px;
}

.description {
  font-size: 0.8rem;
  height:220px;
  overflow:auto;
  clear:both;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  float:right;
  margin-top:5px;
}

.photo {
  width: 100px;
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
}

.photo-img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5em;
}

.photo-placeholder {
  background-color: #f0f0f0;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 830px) {
  .item-template {
    width: auto;
    margin-right: 20px !important;
  }
  .description {
    font-size: 0.8rem;
    height:215px;
    overflow:auto;
    clear:both;
  }
}
